---
import { data } from "@cv/data";
import { AtSign, Github, Globe, Linkedin, Pin } from "@lucide/astro";
import XSign from "../../../public/x.svg";
---

<header class="flex justify-between gap-2">
  <div class="flex flex-col gap-1">
    <h1 class="text-title font-mono text-2xl font-bold">
      {data.name}
    </h1>
    <p>{data.title}</p>
    <div class="flex flex-col-reverse gap-1 md:flex-col print:mb-2">
      <div
        class="text-title flex flex-col gap-2 sm:flex-row sm:items-center sm:gap-4 print:flex-col print:items-baseline"
      >
        <div class="flex items-center gap-1 font-mono leading-none">
          <AtSign size="16" class="shrink-0" />
          <span class="break-all sm:break-normal">{data.handle}</span>
        </div>
        <div class="flex gap-2 print:flex-col print:gap-1">
          <a
            href={data.contact.website}
            class="flex gap-2 rounded-md border border-gray-400 p-2 align-middle hover:border-gray-500 sm:p-0.5 print:rounded-none print:border-none"
            target="_blank"
          >
            <Globe size="16" class="sm:size-4" />
            <span class="hidden font-mono text-sm print:block"
              >{data.contact.website.replace("https://", "")}</span
            >
          </a>
          <a
            href={data.contact.github}
            class="flex gap-2 rounded-md border border-gray-400 p-2 align-middle hover:border-gray-500 sm:p-0.5 print:rounded-none print:border-none"
            target="_blank"
          >
            <Github size="16" class="sm:size-4" />
            <span class="hidden font-mono text-sm print:block"
              >{data.contact.github.replace("https://", "")}</span
            >
          </a>
          <a
            href={data.contact.linkedin}
            class="flex gap-2 rounded-md border border-gray-400 p-2 align-middle hover:border-gray-500 sm:p-0.5 print:rounded-none print:border-none"
            target="_blank"
          >
            <Linkedin size="16" class="sm:size-4" />
            <span class="hidden font-mono text-sm print:block"
              >{data.contact.linkedin.replace("https://", "")}</span
            >
          </a>
          <a
            href={data.contact.twitter}
            class="flex gap-2 rounded-md border border-gray-400 p-2 align-middle hover:border-gray-500 sm:p-0.5 print:hidden print:rounded-none print:border-none"
            target="_blank"
          >
            <XSign class="size-5 sm:size-4" />
            <span class="text-mono hidden font-mono print:block"
              >{data.contact.twitter.replace("https://", "")}</span
            >
          </a>
        </div>
      </div>
    </div>
    <div class="text-title flex items-center gap-1">
      <Pin size="16" class="shrink-0 sm:size-4" />
      <a
        class="-my-2 py-2 hover:underline sm:my-0 sm:py-0"
        href="https://www.google.com/maps/place/Tallinn/"
        target="_blank">{data.contact.location}</a
      >
    </div>
  </div>
  <div class="hidden items-center justify-center md:flex print:block">
    <img
      src="/avatar.jpeg"
      alt="Avatar"
      class="aspect-square size-28 rounded-xl object-cover transition-transform duration-500 hover:scale-105"
    />
  </div>
</header>
